/*Preset*/
@import 'normalize.css';

/*Custom fonts*/
@font-face{
	font-family: "Chunk";
	src: url('../assets/fonts/chunk/Chunk.ttf');
}
@font-face{
	font-family: "Museo";
	src: url('../assets/fonts/Museo/Webfonts/museosans_500_macroman/MuseoSans_500-webfont.ttf');
}
@media only screen 
and (min-device-width: 801px) 
{
	html,
	body{
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 1;
	}
	.overlay{
		height: 100%;
		width: 100%;
		display: none;
		position: fixed;
		background-color: rgba(34,49,63,0.2);
		z-index: 1000;
	}
	.show_dialog{
		display: block;
	}
	.dialog{
		width: 40%;
		height: 30%;
		margin-top: 15%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 2%;
		padding-bottom: 2%;
		border-radius: 3px;
		font-family: Museo;
		background-color: #fff;
		box-shadow: 0 10px 20px #2c3e50;
	}
	.dialog .title{
		height: 25%;
		font-size: 23px;
		color: #37474F;
	}
	.dialog .content{
		height: 50%;
		font-size: 18px;
		color: #455A64;
	}
	.dialog .buttons{
		height: 25%;
	}
	.dialog button{
		float: right;
		font-size: 23px;
		color: #2c3e50;
		border: none;
		outline: none;
		background-color: transparent;
	}
	.dialog button:hover{
		color: #425D78;
	}
	header{
		width: 100%;
		height: 50px;
		background-color: #2c3e50;
		color: white;
		z-index: 100;
	}

	#logo_container{
		height: inherit;
		display: inline-block;
		margin-left:5%;
		font-family: Chunk;
		font-size: 40px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: transparent;
		color: #00AE53;
		vertical-align:text-bottom;
	}
	#logo_container > p{
		margin-top: 5%;
	}

	#hamburger_menu{
		height: inherit;
		display: inline-block;
		margin-left:5%;
		padding-left: 20px;
		padding-right: 20px;
		background-color: transparent;
		vertical-align:text-bottom;
		cursor: pointer;
		display: none;
	}

	.navs {
		height: inherit;
		float: right;
	}
	.navs_ul {
		height: inherit;
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: inherit;
	}
	.navs_li {	
		height: inherit;
		float: left;
	}
	.navs_img{
		height: 15px;
	}
	.navs_li a {
		height: inherit;
		display: block;
		color: white;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		text-decoration: none;
	}
	.navs_li:hover{
		cursor: pointer;
		background-color: #263545;
	}
	.vertical_center {
		height: 33% !important;
	}
	#search_block{
		margin-right: 10px;
	}
	#search_block:hover{
		cursor: auto;
		background-color: #2c3e50;
	}
	#search{
		height: 12px;
		padding: 3px;
		border: 1px solid #162029;
		border-radius: 3px;
		background-color: #E9EBEE;
		color: black;
		font-size: 12px;
	}
	#search:focus{
		outline: 0;
	}
	#search_icon{
		height: 10px;
		width: 10px;
		display: inline-block;
		position: relative;
  		left: -22px;
	}
	#notifications_menu{
		width: 380px;
		font-family: Museo;
		margin-left: -345px;
		background-color: #E9EBEE;
		z-index: 99;
        position: fixed;
        box-shadow: 3px 3px 10px #2c3e50;
		display: none;
	}
    
    .notification_number{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: red;
        display: inline-block;
        font-size: 8px;
        text-align: center;
        
    }
    
	.show_notifications_menu{
		display: block !important;
	}
	.notification_element{
		width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
		cursor: auto;
		color: #45617D;
		display:table;
        vertical-align: middle;
        border-left: 1px solid #2c3e50;
	}
	.notification_element:hover{
		background-color: #DADFE1;
	}
	.notification_text{
		width: 85%;
		display: table-cell;
		margin: auto;
		vertical-align: middle;
		text-align: center;
        cursor:pointer;
	}
    .notification_text >p{
        display: inline-block;
    }
    .visualize_notification{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 2px solid #b3b3b3;
        display: inline-block;
        margin-left: 8%;
        
    }
    
    .visualized:hover{
        background-color: #b3b3b3;
    }
	#profile_elem{
		cursor: auto;
		background-color: #2c3e50;
	}
	
	#logout{
		background-color: #263545;
	}
	#logout_img{
		height: 20px;
		margin-top: -1.5px;
	}
	/*end of bar's css*/
	
	aside{
		width: 20%;
		height: 100%;
		font-family: Museo;
		float: left;
		margin-left: 0;
		background-color: #45617D;	/*give it a box shadow*/
		z-index: 99;
	}
	.aside_container{
		width: 100%;
		height: 50%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	::-webkit-scrollbar {
      width: 5px;
	}
	::-webkit-scrollbar-track {
      background-color: #45617D;
	} 
	::-webkit-scrollbar-thumb {
		  background-color: #2c3e50; 
	} 
	
	.aside_title{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20%;
		background-color: #425D78;
		color: #ecf0f1;
	}
	#desk_pic{
		height: 20px;
		margin-bottom: -5px;
	}
	#people_pic{
		height: 15px;
	}
	.aside_list{
		list-style-type: none;
		margin: 0;
    	padding: 0;
	}
	.aside_element{
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		cursor: pointer;
		color: #C5C9C9;
		font-size: 12px;
		display:table;
	}
	.aside_element:hover{
		background-color: #507191;
	}
	.active_desk{
		background-color: #507191;
	}
	.desk_triangle{
		height: 15px;
		display: none;
		float: right;
		margin-top: 9px;
		margin-right: -1px;
	}
	.active_desk_triangle{
		display: block;
	}
	.aside_pic{
		height: 30px;
        width: 30px;
		margin-left:20px;
		border-radius: 50%;
		float: left;
	}
	.aside_element_name{
		max-width: 60%;
		float: left;
		overflow:hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
		margin-left: 10%;
		margin-top: 3%;		
	}	
	.people_element{
		cursor: auto;
	}
	.people_element:hover .delete_contact{
		display: inline-block;
	}
	.delete_contact{
		display: none;
		cursor: pointer;
		float: right;
		margin-right: 20px;
		margin-top: 9px;
	}
	.delete_contact > img{
		height: 10px;
	}
	
	main{
		height: 100%;
		width: 80%;
		padding: 0;
		float: left;
		margin-left: 0;
		background-color: #E9EBEE;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 10;
	}
	.tab_head{
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #DADFE1;
		color: #2c3e50;
	}
	.tab_head li{
		display: inline-block;
		padding: 10px;
		
	}
	.tab_head li:hover{
		border-bottom: 2px solid #6C7A89;
		cursor: pointer;
	}
	.tab_active{
		border-bottom: 2px solid #00AE53;
	}
	.tab_active:hover{
		border-bottom: 2px solid #00AE53 !important;		
	}
	.tab_head li a{
		text-decoration: none;
		color: #2c3e50;
	}
    .not_active>a{
        cursor: default!important;
    }
    .not_active:hover{
        cursor: default!important;
        border-bottom: none !important;
    }
	.tab{
		padding-left: 40px;
		padding-top: 40px;
	}
	
	#my_desk{
		display: block;
	}
	
	.file_card{		
		width: 150px;
		height: 200px;
		display: inline-block;
		padding: 0;
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: 3px;
		box-shadow: 0px 2px 5px 1px #bdc3c7;
		background-color: #16a085;
		font-family: Museo;
		font-weight: 100;
		z-index: 50;
	}
	.file_card:hover{
		cursor: pointer;
		box-shadow: 0px 5px 10px 5px #bdc3c7;
	}
	.card_hover{
		width: 150px;
		height: 201px;
		display: none;
		border-radius: 3px;
		background-color: #6C7A89;
		opacity: 0.8;
		position: absolute;
		z-index: 60;
	}
	.file_card:hover .card_hover{
		display: block;
	}
	.privacy_bar{
		height: 30px;
		padding-top: 10px;
		background-color: #4C5661;
	}
	.lock_img{
		height: 20px;
		display: block;
		margin: auto;
	}
	.card_download{
		width: 150px;
		height: 90px;
		padding-top: 25px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-color: transparent;
	}
	.download_icon{
		height: 40px;
		display: block;
		margin: auto;
	}
	.card_delete{
		width: 150px;
		height: 30px;
		padding-top: 10px;
		padding-bottom: 5px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: #96281B;
	}
	.delete_icon{
		height: 23px;
		display: block;
		margin: auto;
	}
	.card_cover{
		width: 149px;
		height: 149px;
		display: table;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-color: transparent;
		color: #117D68;
	}
	.cover_text_extension{
		display: table-cell;
		vertical-align: middle;
		font-size: 30px;
		text-align: center;
	}
	.cover_text_size{
		font-size: 20px;
		text-align: center;
	}
	.cover_text_unit{
		font-size: 15px;
		text-align: center;
	}
	.card_footer{
		width: 150px;
		height: 52px;
		display: block;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: white;
		color: #2c3e50;
		font-size: 14px;
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		text-align: center;
	}
	.add_file{
		height: 45px;
		width: 45px;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		text-align: center;
		background-color: #00AE53;
		color: #E9EBEE;
		font-size: 20px;
		font-weight: 100;
		box-shadow: 0px 5px 5px 0px #6C7A89;
		position: absolute;
		right: 20px;
		bottom: 20px;
		z-index: 999;
        display: table-cell;
		vertical-align: middle;
	}
    .add_file>img{
        margin-top: 29%;
        height: 15px;
        width: 15px;
    }
	.add_file:focus{
		outline: 0;
	}
	.hide_button{
		display: none;
	}
	
	#input_file{
		visibility: hidden;
	}
	
	#others{
		display: none;
	}
    
    /* style for search results*/
    
    
    #result_search{
        width: 180px;
		font-family: Museo;
		float: left;
        margin-top: 5px;
		margin-left: 0;
        text-align: center;
		background-color: #45617D;
		z-index: 99;
        position: fixed;
        visibility: hidden;
        box-shadow: 3px 3px 10px #2c3e50;	
    }
    .visible_search {
        visibility:visible !important;
    }
        
    .searched_elem{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
		cursor: pointer;
		color: #C5C9C9;
		font-size: 12px;
		display:table;
        vertical-align: middle;
    }
    .searched_elem:hover{
		background-color: #507191;
	}
    
    .profile_pic{
        width: 25%;
        vertical-align: middle;
        display: table-cell;
        padding: 2%;
        align-content: center;
    }
   
    .searched_pic{
		height: 30px;
        width: 30px;
		border-radius: 50%;
	}
 
    .searched_name{
        display: block;
        width: 75%;
    }
    .searched_username{
        text-align: left;
        font-size: 15px;
        overflow:hidden;
        color: white;
	  	white-space: nowrap;
		margin-left: 10%;
		margin-top: 3%;	
        width: inherit;
        
    }
    .searched_email{
		float: left;
        text-align: left;
		margin-left: 10%;
		margin-top: 3%;	
	}
   
    #ident_pic{
        height: 30px;
        width: 30px;
		border-radius: 50%;
        margin-top: 4px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .ident{
        display: inline-block;
        vertical-align: middle;
    }
    #ident_name{
        margin-right: 8px;
        margin-top: 7px;
        
    }
    #ident_name p{
        font-family: Museo;
    }
    .progress_bar{
        border: 2px solid #00AE53;
    }
}

@media only screen 
and (max-device-width: 800px) 
{
    html,
	body{
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 1;
	}

	header{
		width: 100%;
		height: 100px;
		display: table;
		background-color: #2c3e50;
		color: white;
		z-index: 100;
	}
	

	#logo_container{
		height: inherit;
		display: inline-block;
		margin-left:5%;
		font-family: Chunk;
		padding-left: 20px;
		padding-right: 20px;
		background-color: transparent;
		color: #00AE53;
		vertical-align:text-bottom;
		display: none;
	}
	#logo_container > p{
		margin-top: 5%;
	}

	#hamburger_menu{
		height: inherit;
		display: inline-block;
		margin-left:5%;
		padding-left: 20px;
		padding-right: 20px;
		background-color: transparent;
		vertical-align:text-bottom;
		cursor: pointer;
	}

	.navs {
		height: inherit;
		float: right;
	}
	.navs_ul {
		height: inherit;
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: inherit;
	}
	.navs_li {	
		height: inherit;
		float: left;
	}
	.navs_img{
		height: 35px;
	}
	.navs_li a {
		height: inherit;
		display: block;
		color: white;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		text-decoration: none;
	}
	.vertical_center {
		height: 33% !important;
	}
	#search_block{
		margin-right: 10px;
	}
	#search_block:hover{
		cursor: auto;
		background-color: #2c3e50;
	}
	#search{
		height: 35px;
		padding: 3px;
		border: 1px solid #162029;
		border-radius: 3px;
		background-color: #E9EBEE;
		color: black;
		font-size: 35px;
	}
	#search:focus{
		outline: 0;
	}
	#search_icon{
		height: 20px;
		width: 20px;
		display: inline-block;
		position: relative;
  		left: -32px;
	}
	#notifications_menu{
		width: 80%;
		font-family: Museo;
		margin-left: -65%;
		background-color: #E9EBEE;
		z-index: 99;
        position: fixed;
        box-shadow: 3px 3px 10px #2c3e50;
		display: none;
	}
	.show_notifications_menu{
		display: block !important;
	}
	.notification_element{
		width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
		cursor: pointer;
		color: #45617D;
		display:table;
        vertical-align: middle;
	}
	.notification_element:hover{
		background-color: #DADFE1;
		border-left: 1px solid #2c3e50;
	}
	.notification_text{
		width: 85%;
		display: table-cell;
		margin: auto;
		vertical-align: middle;
		text-align: center;
		font-size: 30px;
	}
	#profile_elem{
		display: none;
	}
	#logout{
		width: 85px;
		background-color: #263545;
	}
	#logout_img{
		height: 35px;
		margin-top: -3px;
	}
	/*end of bar's css*/
	
	aside{
		width: 60%;
		height: 100%;
		font-family: Museo;
		float: left;
		margin-left: 0;
		background-color: #425D78;
		position: absolute;
		z-index: 99;
		display: none;
	}
	.show{
		display: block;
	}
	
	.aside_container{
		width: 100%;
		height: 50%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	::-webkit-scrollbar {
      width: 5px;
	}
	::-webkit-scrollbar-track {
      background-color: #45617D;
	} 
	::-webkit-scrollbar-thumb {
		  background-color: #2c3e50; 
	} 
	
	.aside_title{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20%;
		font-size: 40px;
		background-color: #425D78;
		color: #ecf0f1;
	}
	#desk_pic{
		height: 40px;
		margin-bottom: -5px;
	}
	#people_pic{
		height: 35px;
	}
	.aside_list{
		list-style-type: none;
		margin: 0;
    	padding: 0;
	}
	.aside_element{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		cursor: pointer;
		color: #C5C9C9;
		font-size: 40px;
		display:table;
	}
	.aside_element:hover{
		background-color: #507191;
	}
	.aside_pic{
		height: 40px;
        width: 40px;
		margin-left:20px;
		float: left;
		border-radius: 50%;
	}
	.aside_element_name{
		max-width: 53%;
		float: left;
		overflow:hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
		margin-left: 5%;
	}
	
	main{
		height: 100%;
		width: 100%;
		float: left;
		margin-left: 0;
		background-color: #E9EBEE;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 10;
	}
	.tab_head{
		height: 5%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #DADFE1;
		color: #2c3e50;
	}
	.tab_head li{
		height: 70%;
		width: 47%;
		display: inline-block;
		padding: 10px;
		text-align: center;
		font-size: 35px;
	}
	.tab_head li:hover{
		border-bottom: 2px solid #6C7A89;
		cursor: pointer;
	}
	.tab_active{
		border-bottom: 2px solid #00AE53;
	}
	.tab_active:hover{
		border-bottom: 2px solid #00AE53 !important;		
	}
	.tab_head li a{
		text-decoration: none;
		color: #2c3e50;
	}
	
	.tab{
		padding-left: 40px;
		padding-top: 40px;
	}
	
	#my_desk{
		display: block;
	}
	
	.file_card{		
		width: 250px;
		height: 300px;
		display: inline-block;
		padding: 0;
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: 3px;
		box-shadow: 0px 2px 5px 1px #bdc3c7;
		background-color: #16a085;
		font-family: Museo;
		font-weight: 100;
	}
	.file_card:hover{
		cursor: pointer;
		box-shadow: 0px 5px 10px 5px #bdc3c7;
	}
	.card_hover{
		width: 250px;
		height: 301px;
		display: none;
		border-radius: 3px;
		background-color: #6C7A89;
		opacity: 0.8;
		position: absolute;
		z-index: 60;
	}
	.file_card:hover .card_hover{
		display: block;
	}
	.card_download{
		width: 250px;
		height: 301px;
		padding-top: 120.5px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-color: transparent;
	}
	.download_icon{
		height: 60px;
		display: block;
		margin: auto;
	}
	.card_delete{
		display: none;
	}
	.card_cover{
		width: 249px;
		height: 201px;
		display: table;
		background-color: transparent;
		color: #117D68;
	}
	.cover_text_extension{
		display: table-cell;
		vertical-align: middle;
		font-size: 50px;
		text-align: center;
	}
	.cover_text_size{
		font-size: 40px;
		text-align: center;
	}
	.cover_text_unit{
		font-size: 35px;
		text-align: center;
	}
	.card_footer{
		width: 250px;
		height: 100px;
		display: block;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: white;
		color: #2c3e50;
		font-size: 34px;
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		text-align: center;
	}
	.add_file{
		height: 85px;
		width: 85px;
		display: table;
		border: none;
		border-radius: 50%;
		background-color: #00AE53;
		color: #E9EBEE;
		font-size: 50px;
		font-weight: 500;
		box-shadow: 0px 5px 5px 0px #6C7A89;
		position: absolute;
		right: 100px;
		bottom: 100px;
		z-index: 999;
	}
	.add_file:focus{
		outline: 0;
	}
	.hide_button{
		display: none;
	}
	.plus{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	#input_file{
		visibility: hidden;
	}
	
	#others{
		display: none;
	}
} 

